In [62]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [63]:
import sys
sys.path.insert(0,"Loading/")
sys.path.insert(0,"Preprocessing/")
sys.path.insert(0,"Modeling/")
sys.path.insert(0,"Evaluation/")
sys.path.insert(0,"Interpretability/")
sys.path.insert(0,"Monitoring/")
sys.path.insert(0,"Utils/")


import loading
import preprocessing
import modeling
import evaluation
import interpretability
import monitoring 
import utils as u

import json 
import pandas as pd
import numpy as np

#Package allowing to reload a package (or a script), without having to reload the whole notebook
#import importlib #no use if the magic commands in the first cell are working

In [65]:
# Here we find the parameters needed for the run. You have to launch this cell only if you do not launch the main script.

path_conf ="../params/conf/conf.json"

# path_conf ='../conf/conf.json'
conf = json.load(open(path_conf, 'r'))

path_log = conf['path_log'] # "../log/my_log_file.txt"
log_level = conf['log_level'] # "DEBUG"

# Be careful to launch the logger only once, otherwise each lines will be duplicated
logger = u.my_get_logger(path_log, log_level, my_name="main_logger")

In [66]:
#Reload of the conf file (useful when you do modifications)
conf = json.load(open(path_conf, 'r'))

## Loading and Preprocessing

In [67]:
conf['selected_dataset']

'marketing'

In [72]:
conf["paths"]["Inputs_path"]+ conf["dict_info_files"][conf['selected_dataset']]["path_file"]

'../Inputs/marketing_data.csv'

In [68]:
#Reading of the dataset selected in the conf file
df = loading.read_csv_from_name(conf)

In [69]:
df

,Unnamed: 0,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,4,5371,1989,Graduation,Single,"$21,474.00",1,0,4/8/14,0,...,2,7,1,0,0,0,0,1,0,SP
1,11,5642,1979,Master,Together,"$62,499.00",1,0,12/9/13,0,...,6,4,0,0,0,0,0,0,0,SP
2,13,2964,1981,Graduation,Married,"$26,872.00",0,0,10/16/13,0,...,2,6,0,0,0,0,0,0,0,CA
3,15,837,1977,Graduation,Married,"$54,809.00",1,1,9/11/13,0,...,5,4,0,0,0,0,0,0,0,SP
4,16,10521,1977,Graduation,Married,"$54,809.00",1,1,9/11/13,0,...,5,4,0,0,0,0,0,1,0,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1082,2234,9977,1973,Graduation,Divorced,"$78,901.00",0,1,9/17/13,99,...,5,4,0,0,0,0,0,0,0,US
1083,2235,10142,1976,PhD,Divorced,"$66,476.00",0,1,3/7/13,99,...,11,4,0,0,0,0,0,0,0,US
1084,2236,5263,1977,2n Cycle,Married,"$31,056.00",1,0,1/22/13,99,...,3,8,0,0,0,0,0,0,0,SP
1085,2237,22,1976,Graduation,Divorced,"$46,310.00",1,0,12/3/12,99,...,5,8,0,0,0,0,0,0,0,SP
1086,2238,528,1978,Graduation,Married,"$65,819.00",0,0,11/29/12,99,...,10,3,0,0,0,0,0,0,0,IND

In [60]:
#Preprocessing of the selected dataset
df_preprocessed, X_columns, y_column = preprocessing.main_preprocessing_from_name(df,conf)

#Writting of the preprocessed dataset
loading.write_preprocessed_csv_from_name(df_preprocessed,conf)

'OK'

#### OTHER ? UNDER - OVER SAMPLING

In [61]:
df_preprocessed

,Unnamed: 0,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,Marital_Status_Widow,Marital_Status_YOLO,Country_AUS,Country_CA,Country_GER,Country_IND,Country_ME,Country_SA,Country_SP,Country_US
0,4.0,1989.0,21474.0,1.0,0.0,0.0,6.0,16.0,24.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,11.0,1979.0,62499.0,1.0,0.0,0.0,140.0,4.0,61.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,13.0,1981.0,26872.0,0.0,0.0,0.0,3.0,10.0,8.0,3.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15.0,1977.0,54809.0,1.0,1.0,0.0,63.0,6.0,57.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,16.0,1977.0,54809.0,1.0,1.0,0.0,63.0,6.0,57.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1082,2234.0,1973.0,78901.0,0.0,1.0,99.0,321.0,11.0,309.0,33.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1083,2235.0,1976.0,66476.0,0.0,1.0,99.0,372.0,18.0,126.0,47.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1084,2236.0,1977.0,31056.0,1.0,0.0,99.0,5.0,10.0,13.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1085,2237.0,1976.0,46310.0,1.0,0.0,99.0,185.0,2.0,88.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1086,2238.0,1978.0,65819.0,0.0,0.0,99.0,267.0,38.0,701.0,149.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [73]:
#Basic Splitting between train and test
X_train, X_test, y_train, y_test = preprocessing.basic_split( df_preprocessed , 0.25 , X_columns, y_column)

## Modeling

In [74]:
#Modelisation using the model selected in the conf file
clf, best_params = modeling.main_modeling_from_name(X_train,y_train,conf)

#Saving the model
u.save_model(clf, conf)

Fitting 3 folds for each of 4 candidates, totalling 12 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  12 | elapsed:    6.7s remaining:    1.3s
[Parallel(n_jobs=-1)]: Done  12 out of  12 | elapsed:    6.7s finished

'OK'

## Evaluation

In [75]:
#Independent step from the other, we reload what we need:

#Loading of the model
clf = u.load_model(conf)
#Loading of the preprocessed dataset
df = loading.load_preprocessed_csv_from_name(conf)

#Basic Splitting:
y_column = u.get_y_column_from_conf(conf)
X_columns = [x for x in df.columns if x != y_column ]
X_train, X_test, y_train, y_test = preprocessing.basic_split( df , 0.25 , X_columns, y_column)

../Outputs/Models/marketing_random_forest.sav

In [76]:
#Computing metrics
dict_metrics = evaluation.main_evaluation(clf, X_train, y_train, X_test, y_test, conf)
dict_metrics

{'f1_score': 0.3404255319148936,
 'accuracy': 0.8860294117647058,
 'recall': 0.21621621621621623,
 'precision': 0.8,
 'confusion_matrix': {'tn': 233, 'fp': 2, 'fn': 29, 'tp': 8}}

## Interpretabily

## Monitoring

In [ ]:
# Loading what you need ... etc.